<%- include("partials/header") %>
<div class="container-fluid statistic-buttons">
  <a href="/sessions" class="btn my-btn tt" data-placement="bottom" title="S">Sessions</a>
  <a href="/statistics" class="btn my-btn disabled">Statistics</a>
</div>

<h1>Statistics</h1>
<div class="container-fluid">
  <div class="row">
    <% if(statistics.length < 1){ %>
    <h3>You don't have any statistic stats yet!</h3>
    <p>You need to do training in the "Home Workout" page!</p>
    <% }else{ %> <% statistics.forEach(function(statistic){ %>
      <div class="stat-item col-lg-4 col-sm-12">
        <h3><%= statistic.name %></h3>
          <p class="grid-item"><%= statistic.total %> <%= statistic.type %></p>
      </div>
    <% })} %>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/global.js"></script>
<script src="/js/statistics.js"></script>

<%- include("partials/footer") %>
